* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
/* Här börjar sektion 1 */

.hero {
  height: 815px;
  background-image: url(images/1702474694-chas-academy-hero-homepage.jpg);
  background-size: cover;
  background-position: center top;
}
.navbar {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.menu {
  display: flex;
  align-items: center;
}
.links {
  display: flex;
  list-style-type: none;
}
.links li {
  margin: 20px;
}
.chaslogo {
  width: 80px;
  height: auto;
}
.textSection {
  max-width: 800px;
  margin: auto;
  margin-top: 90px;
}
.textH1 {
  max-width: 800px;
  margin: auto;
  color: white;
  text-align: center;
  font-size: 80px;
  margin-bottom: 80px;
}
.textH2 {
  font-size: medium;
  max-width: 400px;
  margin: auto;
  color: white;
  text-align: center;
  font-size: 20px;
}
.CTA {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #4c64ff;
  color: white;
  border-style: none;
  padding: 8px 20px;
  border-radius: 20px;
}

/* Här börjar sektion 2 */

.salePitch {
  height: 600px;
  display: flex;
  background-color: #f8f9f9;
}
.saleBox {
  display: flex;
}
.saleImage img {
  width: 500px;
  height: auto;
  margin: 50px;
}
.saleText {
  margin: 50px;
}
.saleH1,
.saleP,
h3 {
  display: flex;
  justify-content: left;
  align-items: left;
  color: #2b2f2f;
  max-width: 500px;
}
.saleP {
  font-weight: 400;
  margin-bottom: 100px;
  word-spacing: 2px;
  line-height: 1.8;
}
.saleH1 {
  font-style: ;
}
.saleH3 {
  font-weight: 400;
}
.saleButton {
  margin: 50px;
  display: flex;
}
.buttonAnsök {
  background-color: #2b2f2f;
  color: white;
  border-style: none;
  border-radius: 40px;
  padding: 16px 26px;
  margin-right: 30px;
}
.buttonLäs {
  background-color: #f8f9f9;
  border: 1px solid black;
  border-radius: 40px;
  padding: 16px 26px;
}
/* Här börjar sektion 3 */

.recommendations {
  height: 815px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
.recContainer {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
.recP {
  font-weight: 400;
  word-spacing: 2px;
  line-height: 1.8;
}
.rec1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 700px;
  margin: 30px;
}
.imgRec {
  width: 400px;
  height: auto;
}
.rec2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 700px;
  margin: 30px;
}
.rec3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 700px;
  margin: 30px;
}
.recH1 {
}
h4 {
  width: 100%;
}
/* Här börjar sektion 4 */
.ansökan {
  height: 615px;
  display: flex;
  background-color: #4c64ff;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 96px;
  padding-right: 96px;
}
.ansökanBox {
  display: flex;
  flex-direction: row;
}
.ansökanText {
  padding-right: 100px;
}
.ansökVideo {
  border-radius: 16px;
}
.ansökH3,
.ansökH1,
.ansökP {
  color: white;
}
.ansökH3 {
  font-weight: 400;
  opacity: 0.8;
}
.ansökH1 {
  font-size: 50px;
}
.ansökP {
  font-weight: 400;
  word-spacing: 1.1px;
  line-height: 1.8;
  padding-bottom: 40px;
}
.ansökanButtons {
  width: 100%;
  display: inline;
  margin: 30px;
}
.buttonLäsMer {
  font-weight: 600;
  background-color: white;
  color: white;
  border-color: white;
  position: relative;
  border-radius: 400px;
  background-color: transparent;
  padding: 23px 40px 20px;
  text-decoration: none;
  border: 1px solid white;
}
.buttonAnsökNu {
  font-weight: 600;
  background-color: white;
  color: #4c64ff;
  border-color: white;
  border-radius: 400px;
  background-color: white;
  padding: 23px 40px 20px;
  text-decoration: none;
  border: 1px solid white;
}
/* Här börjar sektion 5 */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #f8f9f9;
  height: 415px;
}
.footAnsök {
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 440px;
  height: 415px;
}
.footContainer {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  margin-left: 60px;
  margin-top: -40px;
}
.footContainer h1 {
  z-index: 2;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 600;
}
.footerAnsökanButton {
  z-index: 3;
  min-width: 170px;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 400px;
  line-height: 120%;
  padding: 15px 30px 12px;
  margin-bottom: 15%;
}

.footAnsök img {
  z-index: 0;
  width: 440px;
  height: 415px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.footContent {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 64px 5.3% 48px calc(33.5% + 5%);
}
.footText {
  display: flex;
}
.footText p {
  margin-bottom: 5px;
}

.footText1 {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}
.footText2 {
  display: flex;
  flex-direction: column;
}
.textSmall {
  font-weight: 400;
  margin-bottom: 2px;
}
.footerCanvasButton {
  padding: 8px 30px 5px;
  height: 30px;
  width: 170px;
  border-radius: 400px;
  border: 1px solid black;
  line-height: 120%;
  margin-top: 40px;
}
.footerCanvasButton img {
  width: 50px;
  height: 17px;
}
.footLinks {
  width: 168px;
  height: 324px;
  display: flex;
  flex-direction: column;
  margin-left: 150px;
}
.footLinks img {
  margin-bottom: 50px;
}
.footSocials {
  text-align: center;
}
.footSocials p {
  text-transform: uppercase;
}
.footSocials img {
  margin-right: 15px;
}
.footerCopyright {
  z-index: 4;
  width: 100%;
  height: 30px;
  background-color: lightgray;
  align-content: center;
  text-align: center;
}
.footerCopyright p {
  font-weight: 400;
}
